{% extends 'davinci/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container collage-container">
   
    <div class ="row justify-content-md-center">
        <div class = "col-md-4 text-center text-white tools-heading-col">
            <h1>Make Your Picture</h1>
        </div>
    </div>


<div class="making-collage-section">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <button class="btn btn-info" id="go-back-mode">Go Back To Layout Page</button>
            <button class="btn btn-info" id="go-back-main">Go Back To Dashboard</button>
        </div>

        
            <div class="col-md-4">
                <button class="btn btn-outline-warning" id="adding_to_collage">Add Files</button>
                <button class="btn btn-outline-warning" id="adding_to_collage_from_vault">Add Files From Vault</button>
                
                <input type="file" id="files_for_collage" name="files_collage" multiple hidden/>
                
                <br />           
                
            
            </div>
            
        

        <div class="col-md-2" id="layout-icon">
            <img src="{{layout}}" width="100px" alt="layout-icon">
        </div>


    </div>

    <div class="collage-preview-go">


        <div class="row justify-content-md-center row_for_preview">
        
        </div>
        
        
        <div class="row justify-content-md-center">
            <div class="col-md-6"><button class="btn btn-warning" id="make-collage" type="button">Make Collage</button>
            </div>
            
        </div>

        
       
       
    </div>
    
    
       

    

</div>




<div class="add-vault div-hide" id="add-vault-id">

  <div class="add-vault-close">
    <div class="container">
        <div class="row justify-content-xs-end">
           <div class="col-xs-4">
            <i class="ion-close-round" id="add-vault-close-btn" style="font-size:100%; margin-left: 20px;"></i> 
           </div>
        </div>
    </div>    

  </div>

  <div class="add-vault-img">
    <div class="container">
        <div class="row row_vault_add">
            
            
            

        </div>

    </div>

  </div>
  <div class="add-vault-btn">
      <div class="container">
          <div class="row">
             <div class="col-md-12">
                  <hr>
             </div>
          </div>
          <div class="row justify-content-md-end">
              
              <div class = "col-md-4">
                <button class="btn btn-info" id="add-vault-btn-add">Add</button>
              </div>

              <div class = "col-md-4">
                <button class="btn btn-info" id="add-vault-btn-cancel">Cancel</button>
            </div>

          </div>

      </div>

  </div>  
</div>






</div>


 

{% endblock %}