<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'davinci/css/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <title></title>
  </head>

  <body>
   


    <header class = "gallery-content flex-grow-1 flex-fill">



        <nav class = "navbar navbar-expand-md text-white nav-custom">

        <div class="container">

          <a class = "navbar-brand" href="">
             <img src="{% static 'davinci/images/logo.png' %}" alt="logo" class = "logo-gallery">
          </a>
              
             <button class = "navbar-toggler" data-toggle = "collapse" data-target = "#mainnav">
              
              <i class = "ion-navicon-round text-white" ></i>
             </button>
        
         <div class="collapse navbar-collapse" id="mainnav">
          
           <div class="navbar-nav ml-auto">
            <span class = "account-span mt-2 mr-3 text-white">Account: {{pk}} </span>
              <a class = "nav-item nav-link" href="{% url 'davinci:info'%}">Settings</a>
              <a class = "nav-item nav-link" href="{% url 'davinci:logout'%}">Signout</a>
           </div>
         </div>

   </div>
   </nav>
   <div class="container-fluid py-5">
   <div class="container">
     <div class="row card-row">
       <div class="col-md-4">
          <div class="card bg-transparent gradient-dark text-white text-center">
            <div class ="card-header">
              <h5 class="card-title">Gallery</h5>
            </div>
            <img src="{% static 'gallery/images/imagegallery.jpg'%}" class = "card-img-top img-fluid" alt="imagegallerypic">
            <div class="card-block py-3">
              <p class="card-text">Where you can store your image</p>
              <a href="{% url 'davinci:vault'%}" class = "btn btn-primary text-white">Proceed</a>
            </div>

          </div>
       </div>
       <div class="col-md-4">
          <div class="card bg-transparent gradient-dark text-white text-center">
            <div class ="card-header">
              <h5 class="card-title">Collage</h5>
            </div>
            <img src="{% static 'gallery/images/imagecollage.jpg'%}" class = "card-img-top img-fluid" alt="imagegallerypic">
            <div class="card-block py-3">
              <p class="card-text">Where you can create photo collage</p>
              <a href="{% url 'davinci:collage_page'%}" class = "btn btn-primary text-white">Proceed</a>
            </div>
 
          </div>
       </div>
       <div class="col-md-4">
          <div class="card bg-transparent gradient-dark text-white text-center">
            <div class ="card-header">
              <h5 class="card-title">Format Converter</h5>
            </div>
            <img src="{% static 'gallery/images/format.jpg'%}" class = "card-img-top img-fluid" alt="imagegallerypic">
            <div class="card-block py-3">
              <p class="card-text">Convert your images to any format</p>
              <a href="{% url 'davinci:format_page_one'%}" class = "btn btn-primary text-white">Proceed</a>
            </div>

          </div>
       </div>
     </div>

   </div>
  </div>
    </header>
    <footer>
      <div class="footer-jumb">
      <div class="jumbotron jumbotron-fluid gradient-dark-footer text-white h-100">
        <div class="container">
          <p class="lead text-center">Copyright &copy; Davinci Corp.</p>
        </div>
      </div>
    </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src = "{% static 'gallery/js/gallery.js' %}"></script>
  </body>
</html>
